<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>global Result</title>
    
    
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- styles sheets -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/globalResult.css">

</head>
<body>
    <%- include('./navBar') %> 
    <section class="grid-container">
        <article class="resumeResult">
            <div>
                <h6>TOTAL RESULTS</h6>
                <h4>550</h4>
            </div>
            <div class="countries">
                <h6>
                    TOP COUNTRIES
                </h6>
                <ul id="country_name"></ul>
            </div>
            <div class="ports">
                <h6>PORTS</h6>
                <ul id="port"></ul>
            </div>
            <div class="organization">
                <h6>
                    TOP ORGANIZATIONS
                </h6> 
                <ul id="org"></ul>
            </div>
        </article>
        <article class="response-Data">
        </article>
    </section>
    </section>
    <script src="../javascript/globalResult.js"></script>
    <script src="../javascript/main.js" ></script>

</body>
</html>