<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Shodan Copy | individual Result</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/individualResult.css">
    <!-- <link rel="stylesheet" href="./../styles/result.css"> -->
</head>
<body>
    <div class="headerMain">
            <%- include('./navBar') %>
        <!-- map -->
        <section class="header">
            <iframe width="100%" height="250" class="mapFrame"></iframe>
                <article class="ip">
                        <!-- Result response IP -->
                        <h4 class="ipResult"></h4> 
                </article>
            </section>
    </div>
    <div class="row wrapper">
        <div class="col s6 rowN1">
            <!-- general-Information -->
            <div>
                <div class="boxContent generalInformation ">
                    <h5><ion-icon name="globe"></ion-icon>
                        <strong>General</strong> Information</h5>
                    <table>
                        <tr class='hostnames'>
                            <th class="resultTitleResearch">Hostnames</th>
                        </tr>
                        <tr class='domains'>
                            <th class="resultTitleResearch">Domains</th>
                        </tr>
                        <tr class="country">
                            <th class="resultTitleResearch">Country</th>
                        </tr>
                        <tr class="city">
                            <th class="resultTitleResearch">City</th>
                        </tr>
                        <tr class="org">
                            <th class="resultTitleResearch">Organization</th>
                        </tr>
                        <tr class='isp'>
                            <th class='resultTitleResearch'>ISP</th>
                        </tr>
                        <tr class='asn'>
                            <th class='resultTitleResearch'>ASN</th>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Vulnerabilities -->
            <div>
                <div class="boxContent vulnerabilities ">
                    <h5><ion-icon name="warning-outline"></ion-icon>Vulnerabilities</h5>
                    
                </div>
            </div>
        </div>
        <div class="col s6 rowN2">
            <!-- Ports -->
            <div class="">
                <div class="boxContent ports">
                    <h5 class="">Open <strong>Ports</strong></h5>
                </div>
            </div>
            <!-- Port Description -->
            <div class="">
                <div class="dataPort " >
                </div>
            </div>
        </div>
    </div>
    <script src="../javascript/individualResult.js" ></script>
    <script src="../javascript/main.js" ></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

