
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="../styles/navBar.css">

</head>
<body>
    <nav>
        <div class="nav-wrapper row">
            <ul id="nav-mobile" class="left col s12">
                <li class="navOptions hover">
                    <a href="http://localhost:3001">
                        <img class='icon' src="./../assets/icon/SL-logo-white.svg" alt="">
                    </a>
                </li>
                <li class="navOptions hover"><a href='index.html'>ShodanCopy</a></li>
                <li class="navOptions hover"><a href="https://github.com/SergioParraL">GitHub</a></li>
                <li class="navOptions hover"><a href="https://sergioparral.github.io/PortFolio/">See more</a></li>
                <li class="FormSearhBar ">
                    <form id="searchForm" action="http://localhost:3001/" method="POST" name="pref" class='search'>
                        <div class="input-field">
                            <input id="search" type="search" name="search" required placeholder="Search...">
                            <label id='searchIcon' class="label-icon" for="search">
                                <i  class="material-icons search-icon">
                                    <ion-icon name="search-outline"></ion-icon>
                                </i>
                            </label>
                            <i class="material-icons close-outline">
                                <ion-icon name="close-outline"></ion-icon>
                            </i>
                        </div>
                    </form>
                </li>
                <li class="right navOptions hover"><a href="#">LinkedIn</a></li>
              </ul>
            
        </div>
    </nav>
    
</body>