.boxContent{
    padding: 1rem; 
    margin-top: 1rem;
    background-color: #1E1E1E;
}
.resultResearch,h5,.portBox,.titleVulnerabilities, .error{
    color: white;
}

.vulnerabilitiesText{
    color: #5B5B5B;
    
}